@charset "gb2312";
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}
li{list-style:none}
ol,ul,button,input,select,textarea{margin:0; padding:0;}
body,button,input,select,textarea{font:12px "Lucida Grande",tahoma,arial,\5b8b\4f53;color:#5E5E5E;}
input,select,textarea{font-size:100%;}
i{font-style:normal;}
img {border:0;}
.fl{float:left;}
.fr{float:right;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#0083ce;}
a.blue_link{color:#0083ce;}
a.blue_link:hover{color:#0083ce;}
.clearfix:after{display:block;content:".";height:0;visibility:hidden;clear:both;font-size:0;line-height:0;}
.clearfix{zoom:1;}
.block{ display:block;}
.red { color:#e72418 !important;}
.mt0{ margin-top:0!important;}
button::-moz-focus-inner{padding:0;border:none;}
.tellnumber,.u_ps, .u_name, .u_email,.i_empty,.i_true,.i_false {background:url(http://s.maiyaole.com/images/passport/regest.png) no-repeat 0 0; }
*html .tellnumber,.u_ps, .u_name, .u_email,.i_empty,.i_true,.i_false {background-image:url(http://s.maiyaole.com/images/passport/ie_regest.png);}
.wrap{margin:0 auto;width:990px;}
.head {height:98px;overflow:hidden;}
.mod_tell {padding:30px 0 0 15px; float:left;}
.mod_tell p{color:#0083ce;font-family:microsoft yahei;font-size:16px; padding-top: 2px;}
.head .logo { float:left;margin-left:10px;}
.tellnumber{ background-position:0 -81px; width:150px;height:36px;overflow:hidden;float:left; padding-top:5px; padding-left:21px;font-size:19px;color:#e72418;font-weight:normal;line-height:20px;font-family:Arial;}
.site-nav-bd .menu div.menu-hd .tellnumber { background: none; font-size: 12px; font-weight:bold; width: auto; height:auto; line-height: 36px; font-family:tahoma;}
.site-nav .site-nav-bd .site-nav-bd-r .li_none { display: none;}

.reg_wrap { position:relative;background:#fff url(http://s.maiyaole.com/images/passport/r_bg_02.png) no-repeat right bottom; width:988px; min-height:352px;color:#5e5e5e; border:#e6e6e6 1px solid;border-top:#0083ce 2px solid; -webkit-box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; -moz-box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; padding-bottom:20px;}
.lg_title { font:20px "microsoft yahei"; margin:13px 0;padding-left:50px; padding-right:18px; }
.lg_title span {float:right; font-size:12px; margin-top:7px; font-family:\5b8b\4f53;}
#simplefooter{width:980px;margin:50px auto 20px auto;text-align:center;}
#simplefooter p{display:block;margin-top:10px;}
#simplefooter a{color:#666;margin:0 8px;}
#simplefooter a:hover{color:#0083ce;}
.form-control { display: block; width:286px; height:26px;  padding: 6px 12px 6px 40px;  font-size: 14px; line-height: 1.428571429; vertical-align:middle; background-color:transparent; border: 1px solid #e6e6e6; -webkit-appearance:none;}
.form-control:focus { border-color: #0083ce; color:#333;outline: 0;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background-color:#f3f3f3;cursor: not-allowed;}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color:#0099F1;
  width:340px;
  border-bottom:#0083ce 2px solid;
  color:#fff;
  font:16px "microsoft yahei";
  border-radius:1px;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
  background-color:#0083ce;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.u_ps { background-position:8px -145px;}
.u_name {background-position:8px -114px;}
.u_ps2 { background-color:#f3f3f3;}
.reg_form { padding-left:100px; padding-top:5px;}
.reg_row {min-height:70px;_height:70px;width:342px; position:relative; z-index: 1;}
.ie_myemail { z-index: 99;}
.reg_form span {line-height:24px; color:#a5a5a5;}
.radio, .checkbox {
  display: block;
  min-height: 20px;
  margin-top: 0px;
  margin-bottom: 6px;
  padding-left: 20px;
  vertical-align: middle;
}
.radio label, .checkbox label { display: inline;margin-bottom: 0;font-weight: normal;cursor: pointer;}
.checkbox input[type="checkbox"] { float:left; margin-left:-20px;}
.suggest-container{border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc; width:338px; background-color:#fff;}
.suggest-item{padding:0 5px; line-height:24px;}
.suggest-active {background:#eaf9ff;padding:0 5px; line-height:24px; cursor:pointer;}
.empty { border:#ffaa00 1px solid;}
.i_empty,.i_true,.i_false{ height:16px; width:auto; float:right; padding-right:25px; margin-top:-28px;}
.i_empty {background-position:right -57px; }
.i_true {background-position:right 2px; }
.i_false {background-position:right -26px; }
.box_safety{ float:right; line-height:24px; color:#a5a5a5;}
.box_pas_safety ul, .pas_middle ul, .pas_strong ul {margin-top:6px; margin-left:6px; float:right; background:#fff url(http://s.maiyaole.com/images/passport/safe.png) no-repeat 0 0;}
.reg_row li {float: left;height:14px;line-height:14px;padding: 0 9px;border-right: 1px solid #fff;font-family:\5b8b\4f53;color: #fff; }
.pas_middle ul {background-position:0 -15px; }
.pas_strong ul {background-position:0 -30px; }
.u_verify { width:150px; margin-right:10px; padding-left:9px; padding-right:9px; float:left;}
input.error{ border:#e72418 1px solid;}
span.error { color:#e72418; padding-top: 5px;}
.btn_verify{ width:120px; border:1px solid #E6E6E6;display:block; height:38px; overflow:hidden; text-align:center; line-height:38px; float:right; margin-right:20px; background:#fff url(http://s.maiyaole.com/images/passport/btn_verify_bg.jpg) repeat-x left bottom;}
.btn_verify:hover{ background:#fff; color:#5e5e5e; text-decoration:none;}
.verify_box { height:60px;}
.psheight { height:60px;}
.verifyimg { margin-left:10px; float:left;}
.verifylink { float:left; margin-left:10px; line-height:40px; color:#0083ce;}
.verify_box .i_true, .verify_box .i_false { float: left;margin-left: -34px;margin-top: 12px;}
.verify_info {  background:#f3f3f3; cursor: not-allowed;color:#5e5e5e;}
.verify_info:hover { text-decoration:none;background:#f3f3f3; color:#5e5e5e;}
.suggest-container {position: absolute; overflow: hidden; z-index:999;}
.reg_form span a {color:#0083ce;}
.login_wrap { position:relative;background:#fff url(http://s.maiyaole.com/images/passport/l_bg.png) no-repeat left bottom; width:988px; min-height:345px;color:#5e5e5e; border:#e6e6e6 1px solid;border-top:#0083ce 2px solid; -webkit-box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; -moz-box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; padding-bottom:20px; padding-top:8px;}
.login_wrap .reg_form, .login_wrap .lg_title { padding-left:588px;}
.login_wrap .reg_form .gray { color:#a5a5a5;}
.login_wrap .reg_form .gray:hover { color:#0083ce;}
.hz_login p{ margin-top:10px; line-height:24px; color:#5e5e5e;}
.hz_login a { line-height:24px;color:#a5a5a5; text-indent: -9999px;}
.hz_login a.first{ padding-left:0;}
.hz_login a.last{ border-right:0;}
.hz_login a:hover { color:#0083ce;}
.reg_form .right{ color:#333;}
.rz_box{ position:relative;width:988px; min-height:278px;color:#5e5e5e; border:#e6e6e6 1px solid;border-top:#0083ce 2px solid; -webkit-box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; -moz-box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; padding-bottom:20px; padding-top:8px;}
.rz_title{ padding:30px 60px; }
.certified{ background:url(http://s.maiyaole.com/images/passport/icon_rz.png) no-repeat 0 2px; color:#5e5e5e; font-size:18px; line-height:20px; font-family:"microsoft yahei"; margin:0; padding-left:30px; font-weight:normal; padding-bottom:3px; zoom: 1;}
*html .certified { background-image:url(http://s.maiyaole.com/images/passport/ie_icon_rz.png);}
.rz_bd { width:870px; background:#d8eefb no-repeat right bottom; height:auto;margin:0 auto; padding: 5px 0; min-height: 170px;}
.rz_inner { padding:15px 20px;}
.verifyemail { padding-left:6px; width:284px; background-color:#fff; border-color:#0083ce; line-height:22px; height:22px; display:inline;}
.btn_verifyemail { width:96px;display:inline; margin-left:18px;padding:6px 0 5px 0;}
.rz_inner .p_note{ color:#a5a5a5; line-height:24px; margin-top:25px;}
.forgot_ps_box .flow-steps, .rz_box  .flow-steps{ right:59px;top:11px;}
.flow-steps .num5 li { width:163px;}
.rz_form strong { font-size:14px; color:#5e5e5e; line-height:20px;}
.rz_form fieldset { padding-top:15px;}
.send_email_note span { line-height:28px; display:block;}
.gray{ color:#a5a5a5;}
.btn_v_check, .goto_email{ width:106px; border:1px solid #E6E6E6;display:block; height:30px; margin-top:3px; overflow:hidden; text-align:center;background:#fff url(http://s.maiyaole.com/images/passport/btn_verify_bg.jpg) repeat-x left bottom;}
.btn_v_check:hover, .goto_email:hover{ background:none; background-color:#fff; color:#5e5e5e; text-decoration:none; cursor:pointer;}
.rz_ok_box { padding:20px 60px 15px 60px; }
.rz_ok_box, .g_title{ line-height:20px;}
.g_title{ font-size:14px; font-weight:bold;color:#84bb20;}
.rz_ok_box .s_ok, .f_s_ok { background:url(http://s.maiyaole.com/images/passport/ok.png) no-repeat 0 0 ;width:33px; height:33px; }
.rz_ok_box .s_ok, .f_s_ok { background-image:url(http://s.maiyaole.com/images/passport/ie_ok.png);}
.rz_ok_box .s_ok { position:absolute; left:20px;}
.rz_img_bd { width:870px; background:#d8eefb no-repeat right bottom; height:auto; min-height:250px;margin:0 auto; padding-bottom:10px;}
*html .rz_img_bd { height: 250px;}
.re_success .s_ok { background:url(http://s.maiyaole.com/images/passport/ok.png) no-repeat 0 0 ; width:33px; height:33px; vertical-align:middle;}
*html .re_success .s_ok { background-image:url(http://s.maiyaole.com/images/passport/ie_ok.png);}
.re_success { text-align:center; line-height:33px;font-size:14px; font-weight:bold;color:#84bb20; margin:5px auto 25px;}
.btn-red{ background-color:#e72418; border-bottom-color:#aa0000; width:116px; margin:10px auto; display: block; padding:2px 0;}
.btn-red:hover, .btn-red:focus{ background-color:#cc0000;border-bottom-color:#aa0000;}
.c_content .rz_img_bd { width:980px;clear:both; overflow:hidden; min-height: inherit; height: auto; zoom: 1;}
*html .c_content .rz_img_bd {height: auto;}
*+html .c_content .rz_img_bd {min-height: auto;}
.s_r .rz_inner { padding-left:0; padding-top:27px; padding-bottom: 20px;}
.s_r .rz_inner .p_note{ margin-top:12px;}
.login_quick, .forgot_ps_box { position:relative;background-color:#fff; width:988px; min-height:298px;color:#5e5e5e; border:#e6e6e6 1px solid;border-top:#0083ce 2px solid; -webkit-box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; -moz-box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; box-shadow:-1px 1px 10px #EFEFEF, -1px 10px 10px #EFEFEF; padding-bottom:20px; padding-top:8px; }
.login_quick .reg_form { padding-left:330px;}
.login_quick .lg_title {padding-left:330px; line-height:30px;}
.forgot_ps_box .lg_title { padding-left:50px;}
.forgot_ps_box .flow-steps{ top:0; right:20px;}
.forgot_ps_box .reg_form { padding-left:345px; padding-top:28px;}
.forgot_ps_box .btn-primary { width:170px;}
.v_email{ width:110px; padding-left:8px; padding-right:20px; background:url(http://s.maiyaole.com/images/passport/arrows.png) no-repeat 116px 16px; cursor:pointer;}
.forgot_ps_box .suggest-container { width:138px;border-top:1px solid #ccc; margin-top:-1px;} 
.forgot_ps_box label { float:left; width:85px; text-align:right; margin-left:-85px; font-size:14px;}
*html .forgot_ps_box label { position:relative; line-height: 28px;}
.la_select { line-height:40px;}
.forgot_ps_box .cus_email { font-weight:bold; margin-left:0; margin-right:10px; width:auto;}
.email_row { height:47px; margin-top:10px;}
.fp_box { margin-top:40px; margin-left:60px;}
.f_s_ok {display:inline-block;overflow:hidden;vertical-align:top;margin-right:10px; margin-left:-43px; }
.fp_note { line-height:33px; font-weight:normal; clear:right; font-size:14px; display:block;}
.goto_email{ margin-top:10px;}
.f_ps { padding-left:10px;}
.forgot_ps_box .reg_row { width:340px;}
.forgot_ps_box .btn-red, .forgot_ps_box .goto_email { display:inline-block;font-size:12px; width:auto; padding-left:10px; padding-right:10px; margin-right:7px;font-family:sumsun; vertical-align:middle;}
.forgot_ps_box .btn-red {  height:30px; margin-top:10px; margin-bottom: 0;}
.email_row .btn_verify { height:32px; line-height:32px; float:left; margin-top:-5px;}
*html .email_row .btn_verify {margin-top:0;}
.reg_form .two_week {line-height:12px;}
.f_warring {background:url(http://s.maiyaole.com/images/passport/y_icon.png) no-repeat 0 40px; padding-left:40px; line-height:30px; padding-top:40px; padding-bottom:40px;}
a.form-control { line-height:26px; color:#5e5e5e; font-size:12px;}
a.form-control:hover {color:#5e5e5e;outline: 0; text-decoration:none;}
.rz_form .has_email{ border-color:#e6e6e6;color:#a5a5a5;}
.rz_form .send_email_note span.gray { margin-top:4px;}
div.error { color:#e72418;}
.success_btn { text-align:center;background:#d8eefb no-repeat right bottom;}
.success_btn .btn-red{ display:inline-block; margin:195px auto 0;}
.rz_img_bd .success_submit {padding-right: 25px;}

.re_fail,.re_alarm { padding: 40px 0 25px;font-size: 14px; color:#5e5e5e; font-weight: bold; text-align: center;}
.re_fail span,.re_alarm span {display: inline-block; padding: 0 0 0 40px;background:url(http://s.maiyaole.com/images/passport/s_fail.png) no-repeat left top; line-height:30px;}
.re_alarm span {background:url(http://s.maiyaole.com/images/passport/s_alarm.png) no-repeat left top;}

.re_shopping a {color: #fff;font:16px "microsoft yahei";background-color:#e72418; border-bottom: 2px solid #a00; border-bottom-color:#aa0000; width:124px; margin:0 auto; display: block; padding:7px 0 6px; text-align: center; text-decoration: none;}
.re_shopping a:hover, .re_shopping a:focus{ background-color:#cc0000;border-bottom-color:#aa0000;}
.bule_btn {width:146px; margin:0 auto;}
.bule_btn .btn {width:146px;}





.pay_success { width: 980px; margin: 0 auto 10px; border-top: 2px solid #0083ce; background-color: #fefccc; margin-top: 3px; overflow: hidden; zoom: 1;}
.pay_success .pay_left { float: left; width: 456px; background-color: #eaf9ff; padding: 28px 0 30px 34px; position: relative;}
.pay_success .pay_left .s_ok { position: absolute; top: 29px;}
.pay_success h4 { padding-left:40px; color: #84bb20;font-family: Microsoft Yahei;font-size: 18px; font-weight: normal;line-height: 1.2;margin-bottom: 12px; position:relative; line-height:30px;}
.pay_success .pay_left p { color: #5e5e5e;}
.pay_success .s_orderinfo { padding: 25px 0 18px;}
.pay_success .qr_code { float: left; padding: 36px 0 0 16px; overflow:hidden;}
.pay_success .pay_left .qr_code { padding: 25px 0 0; float:none;}
.pay_success .qr_code .code_info { float:left; width:318px; padding: 12px 0 0 14px;}
.pay_success .qr_code .code_info ul { line-height:1.5;}
.pay_success .qr_code .code_info ul li { background:url(http://s.maiyaole.com/images/passport/icon_01.png) no-repeat left center; padding: 0 10px 0 20px; float: left; font-weight:bold;}
.pay_success .qr_code .code_info p { padding: 10px 0 15px;}
.pay_success .qr_code .btn_download { width:160px;}

.pay_success .pay_right { float: right; width: 470px; padding: 42px 0 0 0;}
.pay_success .pay_right .certified { background: url(http://s.maiyaole.com/images/passport/icon_renzheng.png) no-repeat left 1px; padding: 0 0 15px 40px;}
.pay_success .rz_form fieldset { padding: 6px 0 30px;}
.pay_success .btn_verifyemail { margin-left: 0; width: 117px; font-size: 14px;padding: 7px 0 7px;}
*html .pay_success .btn_verifyemail { border: 0; padding: 6px 0;}
.pay_success .verifyemail { border-right: 0; width: 312px;}
.pay_success .pay_right .p_note { color: #a5a5a5; line-height: 24px;}

.success_conts { width: 980px; margin: 0 auto 40px; background-color: #f7f7f7;}
.success_conts .ttl { font-size: 14px; color: #333;}
.success_conts .health_forum { float: left; width: 490px; background-color: #fff;}
.success_conts .health_forum .ttl { border: 1px solid #e6e6e6; padding: 12px 22px 13px;}
.success_conts .ttl i { color: #e72418; font-weight: bold;}
.success_conts .ttl span { font-size: 20px; margin-right: 10px;}
.success_conts .health_forum ul li { float: left; width: 122px;}
.success_conts .health_forum ul .last { border-right: 1px solid #e6e6e6; width: 123px;}
.success_conts .health_forum ul li a { border-bottom: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; display: block; color: #5e5e5e; font-size: 14px; text-align: center; padding: 9px 0;}
.success_conts .health_forum ul li a i { background: url(http://s.maiyaole.com/images/passport/ico_01.png) no-repeat right center; padding-right: 15px;}
.success_conts .health_forum ul li a:hover { background-color: #0099f1; text-decoration: none; color: #fff;}
.success_conts .health_forum ul li a:hover i { background-image: url(http://s.maiyaole.com/images/passport/ico_01_on.png);}

.success_conts .ask_question { float: right; width: 470px; background-color: #f7f7f7; padding: 13px 0 0 20px;}
.success_conts .ask_question .ttl { margin-bottom: 8px;}
.success_conts .ask_question textarea { width: 418px; height: 43px; border: 1px solid #e6e6e6;resize: none; padding: 10px 15px; font-size: 14px; color: #333; overflow-y: scroll;}
.success_conts .ask_question ul { float: right; padding: 5px 20px 0 0;}
.success_conts .ask_question ul li { float: left; font-size: 14px;}
.success_conts .ask_question ul .li_01 { padding: 6px 10px 0 0;}
.success_conts .ask_question ul li .age { width: 49px; height: 26px; line-height: 26px; border: 1px solid #e6e6e6; text-align: center; font-size: 14px; font-weight: bold;}
.success_conts .ask_question ul li span { padding: 0 5px 0 13px;}
.success_conts .ask_question ul li label input { margin: 0 5px 0 15px; vertical-align: middle;}
.success_conts .ask_question .btn_verifyemail {width: 117px; font-size: 14px;padding: 7px 0 7px;}
*html .success_conts .ask_question .btn_verifyemail { border: 0;}
.success_conts .ask_question ul li .age:focus { border: 1px solid #cdcdcd;}

.f_warring .ico_consultation { display: inline-block; vertical-align: middle; background: url(http://s.maiyaole.com/images/201306/img/yw_talk.gif) no-repeat left center; margin-top: -2px; padding-left: 20px; text-decoration: none;}

.reg_pass_capslock{
	margin-top: -30px;
	margin-bottom: 10px;
	width: 338px;
	background-color: #ffffe5;
    border: 1px solid #fadd87;
    color: #f60;
	position: relative;
}

.reg_pass_capslock .capsLock_msg_i{
	 background: url(http://s.maiyaole.com/images/passport/regest.png) no-repeat 5px -50px;
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
}

.reg_pass_capslock .capsLock_msg_s{
	 background: url(http://s.maiyaole.com/images/cart/scbgv.png) no-repeat -15px -62px;
    bottom: -9px;
    height: 9px;
    left: 38px;
    position: absolute;
    width: 15px;
}

.a_yhd, .a_zfb, .a_qq, .a_sina, .a_wlt, .a_wy {
	background: url(http://s.maiyaole.com/images/201306/images/private/img_zhifu.png) no-repeat left top;
    border: medium none;
    display: block;
    float: left;
    height: 39px;
    margin-right: 18px;
    width: 39px;
}
.hz_login a.a_yhd {
    background-position: 0 0;
}
.hz_login a.a_yhd:hover {
    background-position: 0 -52px;
}
.hz_login a.a_zfb {
    background-position: -48px 0;
}
.hz_login a.a_zfb:hover {
    background-position: -48px -52px;
}
.hz_login a.a_qq {
    background-position: -95px 0;
}
.hz_login a.a_qq:hover {
    background-position: -95px -52px;
}
.hz_login a.a_sina {
    background-position: -143px 0;
}
.hz_login a.a_sina:hover {
    background-position: -143px -52px;
}
.hz_login a.a_wy {
	background-position: -191px 0;
}

.hz_login a.a_wy:hover {
	background-position: -191px -52px;
}

.hz_login a.a_wlt {
	background-position: -241px 0;
}

.hz_login a.a_wlt:hover {
	background-position: -241px -52px;
}


.bg_link { bblr:expression(this.onFocus=this.blur()); outline-style:none; position: absolute; right: 0; bottom: 0; text-indent: -9999px; display: block; width: 500px; height: 372px;}

.footer_pic_link {display:none;}


.membercenter_pop i,
.pop_close {background: url(http://s.maiyaole.com/images/ucenter/ico_address.png) no-repeat;}
.membercenter_pop .mem_pop {z-index:12000; position:fixed; _position:absolute; left:50%; top:50%; width:500px; margin:-190px 0 0 -245px; font-family:"Microsoft YaHei";}
.membercenter_pop .bg_div { position:fixed;_position:absolute; left:0; top:0; width:100%; height:100%; background-color:#000;filter:alpha(opacity=60);opacity:0.6; z-index:11000;}
.membercenter_pop i { display:block; margin:0 auto; width:312px; height:274px;}
.membercenter_pop .pop_ico01 { background-position:-82px -1103px;}
.membercenter_pop .pop_ico02 { width:500px; height:235px; background-position:0 -1776px;}
.membercenter_pop .pop_ico03 { width:294px; height:243px; background-position:-95px -1447px;}
.membercenter_pop p { text-align: center; font-size:18px; color:#fff; padding:20px 0;}
.membercenter_pop p a { color:#fff; text-decoration:underline;}
.membercenter_pop p a:hover { text-decoration:none;}
.membercenter_pop .btn_pop01 a,
.membercenter_pop .btn_pop02 a { display:block; background-color:#eae549; border-radius:3px; color:#de3635; width:214px; line-height:41px; padding-bottom:1px; text-align:center; margin:0 auto; font-size:18px; text-decoration:none;}
.membercenter_pop .btn_pop02 a { width:154px;}
.membercenter_pop .pop_close { display:block; width:29px; height:29px; background-position:-415px -914px; position:absolute; right:80px; top:5px;}
.membercenter_pop .pop_close02 { right:45px; top:-8px;}
.btn_disabled {cursor: no-drop; pointer-events: none;}

.use_teach_shade, .use_teach_pop{position:fixed; _position:absolute;display:none;}
.use_teach_shade{top:0; left:0; width:100%; height:100%; _height:expression(document.body.offsetHeight+"px");background-color:#000;opacity:0.3;filter:alpha(opacity=30);z-index:999;}
.use_teach_pop{top:150px; left:50%; height:auto; width:360px; margin-left:-181px;border:1px solid #0083ce;background:#fff;z-index:1000}
.use_teach_top{background-color:#0083ce;color:#fff;font-size:14px;font-weight:bold;padding:0 10px 0 15px;line-height:35px;}
.use_teach_top .close_btn{float:right;width:30px;height:30px;background:url(http://s.maiyaole.com/images/product/icon_detail.png) no-repeat 5px -383px;text-decoration:none;text-indent:-9999px;cursor:pointer;display:block;}
.use_teach_top .close_btn:hover{background-position:-47px -383px;}
.use_teach_box{padding:15px 0;text-align:center;}
.use_teach_box p{margin:0;padding:0;}
#gee-module{position:relative}
#geet-help{color:#0083ce;position:absolute;left:310px;top:6px;cursor:pointer;}
